In [1]:
import pandas as pd

df = pd.read_csv("../data/fifa.csv", encoding="latin1")

In [2]:
df['Total'] = df['Acceleration'] + df['Agility'] + df['Reactions']
#Soma os valores dessas colunas e acrescenta uma nova coluna chamada Total ao final

In [3]:
df = df[['Name', 'Total']]
df.sort_values('Total', ascending = False)
# Baseado nesssa somatoria da coluna criada (Total) filtramos e organizamos esses valores

                 Name  Total
2           Neymar Jr  284.0
5           E. Hazard  279.0
0            L. Messi  277.0
26           M. Salah  276.0
25          K. Mbappé  275.0
...               ...    ...
13279    P. Mazzocchi    NaN
13280       Y. Ammour    NaN
13281  Jwa Joon Hyeop    NaN
13282      O. Marrufo    NaN
13283     Han Pengfei    NaN

[18207 rows x 2 columns]